module.exports.key = '';    //the trello token like you can obtain here: https://trello.com/app-key
module.exports.token = '';  //the trello token like you can obtain here: https://trello.com/app-key
module.exports.board = '';  //the board id from your trello url
module.exports.list = '';   //try to move a card to another list and inspect the select element with the lists to obtain the list id.